@use "sass:color";
@use "bootstrap/scss/bootstrap" with (
  $primary: #22c2ff
);
@use "./styles/pages";

html,
body {
  overflow-x: hidden;
}

.navbar-logo-img {
  height: 30px;
}

.btn-primary:hover {
  background-color: color.scale(#22c2ff, $lightness: -8%);
  border-color: color.scale(#22c2ff, $lightness: -8%);
}
