/* /src/index.scss */

// 1. DÉFINIR TES VARIABLES PERSONNALISÉES
// On dit à Bootstrap : "Voici mon nouveau bleu 'primary'"
$primary: #22C2FF;

// (Optionnel) Tu peux aussi changer d'autres couleurs si tu veux
// $secondary: #...
// $danger: #...


// 2. IMPORTER LE SCSS DE BOOTSTRAP
// On importe le fichier source de Bootstrap DEPUIS node_modules.
// Il va lire ta variable $primary et tout compiler avec.
@import "bootstrap/scss/bootstrap";


// 3. METTRE TES PROPRES CLASSES CSS (comme le logo)
// Tout ton CSS custom vient APRÈS l'import de Bootstrap.

.navbar-logo-img {
  height: 30px;
}

/* Tu peux même rendre ton bleu un peu plus foncé au survol (hover) */
.btn-primary:hover {
   // darken() est une fonction Sass. Elle prend une couleur et un %
   background-color: darken($primary, 8%);
   border-color: darken($primary, 8%);
}